<IfModule mod_rewrite.c>
    RewriteEngine on

    RewriteBase /~wics    

    RewriteCond %{REQUEST_URI} /users/wics(.*)
    RewriteRule ^(.*)$ $1 [L,R]
 
    RewriteRule ^(.*)$ public/$1
</IfModule>
